/*
Icon Set:	Broccolidry -- http://dribbble.com/shots/587469-Free-16px-Broccolidryiconsaniconsetitisfullof-icons
License:	Aribitrary -- http://licence.visualidiot.com/

Icon Set:	Meteocons -- http://www.alessioatzeni.com/meteocons/
License:	Arbitrary -- http://www.alessioatzeni.com/meteocons/#about

Icon Set:	IcoMoon - Free -- http://keyamoon.com/icomoon/
License:	CC BY-SA 3.0 -- http://creativecommons.org/licenses/by-sa/3.0/

You can get these here -- http://metroui.org.ua/
*/
@font-face {
    font-family: 'iconFont';
    src: url('../fonts/iconFont.eot');
    src: url('../fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconFont.svg#iconFont') format('svg'), url('../fonts/iconFont.woff') format('woff'), url('../fonts/iconFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div.image a:before {
    font-family: 'iconFont' !important;
    content: '\e004' !important;
    font-size: 36px !important;
    font-weight: 100 !important;
    color: #353535 !important;
}
div.image a img {
    display: none !important;
}

/* Pinning a group. */
/*
span#stickyEnable a:before {
    font-family: 'iconFont' !important;
    content: '\e004' !important;
    font-size: 12px !important;
    color: #000 !important;
}
span#stickyEnable a img {
    display: none !important;
}
span#stickyEnable a {
    text-decoration: none !important;
}
*/

/* Print. */
a[rel="print"]:before {
    font-family: 'iconFont' !important;
    content: '\e021' !important;
    font-size: 16px !important;
    color: #336 !important;
}
a[rel="print"] img {
    display: none !important;
}

/* Copy.  Cases, at least. */
a[onclick*="copyCases"]:before {
    font-family: 'iconFont' !important;
    content: '\e011' !important;
    font-size: 16px !important;
    color: #336 !important;
}
a[onclick*="copyCases"] img {
    display: none !important;
}

/* Header sort. */
th a[onclick*="Grouping"]:nth-child(3):before {
    font-family: 'iconFont' !important;
    content: '\e089' !important;
    font-size: 8px !important;
    color: #336 !important;
}
th a[onclick*="Grouping"]:nth-child(3) img {
    display: none !important;
}

/* Group folders. */
div#groupTree ul li a:before {
    font-family: 'iconFont' !important;
    content: '\e013' !important;
    font-size: 16px !important;
    color: #336 !important;
}
div#groupTree ul li a ins.jstree-icon {
    background-image: none !important;
}

/* Editing things in a table or in a row. */
td.action a[href*="/edit/"]:before, span.hoverAction a[href*="edit"]:before {
    font-family: 'iconFont' !important;
    content: '\e002' !important;
    font-size: 8px !important;
    color: #E3A21A !important;
}
td.action a[href*="/edit/"] img, span.hoverAction a[href*="edit"] img {
    display: none !Important;
}
td.action a[href*="/edit/"], span.hoverAction a[href*="edit"] {
    text-decoration: none !important;
}
span.hoverAction a[href*="edit"]:before {
    font-size: 10px !important;
}

/* Deleting things in a table. */
td.action a[onclick*="/delete/"]:before, td.icon a[onclick*="removeEntry"]:before, td a[onclick*="removeColumn"]:before {
    font-family: 'iconFont' !important;
    content: '\e084' !important;
    color: #B91D47 !important;
}
td.action a[onclick*="/delete/"]:before, td a[onclick*="removeColumn"]:before {
    font-size: 8px !important;
}
td.icon a[onclick*="removeEntry"]:before {
    font-size: 14px !important;
}
    
td.action a[onclick*="/delete/"] img, td.icon a[onclick*="removeEntry"] img, td a[onclick*="removeColumn"] img {
    display: none !Important;
}
td.action a[onclick*="/delete/"], td a[onclick*="removeColumn"] {
    text-decoration: none !important;
}

/* Move things up or down in a table, or for loading more cases. */
td.action a[onclick*=".moveUp"]:before, td.action a[onclick*=".moveDown"]:before, div#loadCases:before, div#loadTests:before, td.icon a[onclick*=".moveEntryUp"]:before, td.icon a[onclick*=".moveEntryDown"]:before, td.action a[onclick*=".moveColumnUp"]:before, td.action a[onclick*=".moveColumnDown"]:before {
    font-family: 'iconFont' !important;
    font-size: 8px !important;
    color: #00A300 !important;
}
div#loadCases:before, div#loadTests:before {
    color: #FFF !important;
}
td.action a[onclick*=".moveUp"]:before, td.icon a[onclick*=".moveEntryUp"]:before, td.action a[onclick*=".moveColumnUp"]:before {
    content: '\e091' !important;
}
td.action a[onclick*=".moveDown"]:before, div#loadCases:before, div#loadTests:before, td.icon a[onclick*=".moveEntryDown"]:before, td.action a[onclick*=".moveColumnDown"]:before {
    content: '\e095' !important;
}
td.action a[onclick*=".moveUp"] img, td.action a[onclick*=".moveDown"] img, div#loadCases img, div#loadTests img, td.icon a[onclick*=".moveEntryUp"] img, td.icon a[onclick*=".moveEntryDown"] img, td.action a[onclick*=".moveColumnUp"] img, td.action a[onclick*=".moveColumnDown"] img {
    display: none !Important;
}
td.action a[onclick*=".moveUp"], td.action a[onclick*=".moveDown"], td.action a[onclick*=".moveColumnUp"], td.action a[onclick*=".moveColumnDown"] {
    text-decoration: none !important;
}
td.icon a[onclick*=".moveEntryUp"]:before, td.icon a[onclick*=".moveEntryDown"]:before {
    font-size: 14px !important;
    margin-left: 4px !important;
}

/* The back/forth icon when adding columns. */
tr[id="column-cases:title"] td:nth-child(2):before {
    font-family: 'iconFont' !important;
    content: '\e0a4' !important;
    font-size: 14px !important;
    color: #2B5797 !important;
    padding-left: 5px !important;
}
tr[id="column-cases:title"] td:nth-child(2) img {
    display: none !Important;
}

/* Help/Add Image icon when editing things. */
a[href*="/help/"]:before, a[onclick*="addImage"]:before {
    font-family: 'iconFont' !important;
    font-size: 14px !important;
    color: #2B5797 !important;
    font-weight: 100 !important;
    margin-left: 5px !important;
}
a[href*="/help/"]:before {
    content: '\e086' !important;
}
a[onclick*="addImage"]:before {
    content: '\e004' !important;
}
a[href*="/help/"] img, a[onclick*="addImage"] img {
    display: none !Important;
}

/* Subscribe By Email link. */
a[onclick*=".subscribe"]:before {
    font-family: 'iconFont' !important;
    content: '\e01a' !important;
    font-size: 14px !important;
    color: #336 !important;
    font-weight: 100 !important;
    margin-left: 5px !important;
}
a[onclick*=".subscribe"] img {
    display: none !Important;
}

/* Export/import items. */
a[href="#exportDropdown"]:before {
    font-family: 'iconFont' !important;
    content: '\e02d' !important;
    font-size: 14px !important;
    color: #336 !important;
}
a[href="#exportDropdown"] img {
    display: none !Important;
}
